.back-office{
    .services-list{
        .edit-svg-box {
            top: 100px;
            right: 100px;
        }
    }
    .modal-add-box .form, modal-add-box .names, .modal-ul-box li{
        .service-types{
            ul{
                padding:0;
                li{
                    display:flex;
                    gap:20px;
                    align-items: center;
                    padding:0;
                }
            }
            .add-service-type-box{
                .added-types{
                    list-style: none;
                    padding:0;
                }
                .add-service-type{
                    display: flex;
                    gap: 20px;
                    align-items: center;
                    padding: 0 5px;
                    ul{
                        padding:0;
                    }
                    input{
                        padding:4px;
                        width:80%;
                    }
                }
            }

        }
        .add-service-type{
            width: 100%;
            align-items: center;
            padding-left:5px;
            gap:20px;
            display:flex;
            input{
                width:80%;
                padding:4px 8px;
            }
        }
    }
    .modal-ul-box li {
        &.one-service{
            grid-template-columns: 200px 1fr 80px 120px;
            display: grid;
            align-items: center;
            justify-content: center;
            .add-service-type{

            }
        }

    }
    .modal-add-box .form, .modal-add-box .names{
        &.one-service{
            grid-template-columns: 200px 1fr 80px 120px;
            display: grid;
            align-items: center;
            justify-content: center;

            .add-service-type-box{
                padding: 10px 10px 20px;
                border: 1px solid $black;
                border-left: none;
                height:100%;
            }

        }
    }
}