$nav-family: 'Quicksand', sans-serif;
$headings-family: 'Poiret One', cursive;
$pink: #E9C1C8;
$pinkDark:#cdaaaf;
$electric:#17453F;
$electricDark:#133833;

$electricTransp:#17453fe7;
$bg:#E8E3D7;
$bgLittleTransp:#e8e3d7da;
$bgLight:#f0eadd;
$darkerBg:#d5d0c5;
$bgTransp:#e8e3d720;
$violet: #7E3F54;
$northenGradient: radial-gradient(18% 28% at 18% 71%, #FFFFFF4D 4%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #17453fe7 96%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #17453F 66%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #E9C1C826 1%, #073AFF00 100%),linear-gradient(125deg, #427A6DFF 1%, #17453FFF 100%);
$electricRadialGradient:radial-gradient(circle, rgb(249 237 207) 0%, rgba(43,86,80,0.8556696360184699) 100%);
$lightnGradient: radial-gradient(18% 28% at 18% 71%, #E8E3D7 4%, #073AFF00 100%),radial-gradient(31% 43% at 7% 98%, #e8e3d7da 96%, #073AFF00 100%),radial-gradient(35% 56% at 91% 74%, #E9C1C8 66%, #073AFF00 100%),radial-gradient(74% 86% at 67% 38%, #E9C1C826 1%, #073AFF00 100%),linear-gradient(125deg, #cdaaaf 1%, #E8E3D7 100%);

$grey:#6E717B;
$greyTransp:#6e717b6b;
$lightGrey:#B9B8B8;
$black: #161616;

$hotPink:#f26d85;

//sizes
$ratio: min(calc(500px * 9 / 16), calc(60vw * 9 / 16));
$footerHeight: 140px;
$footerMargin:50px;
$footerWidth:min(1000px, 87%);
$mainMinHeight: calc(100vh - $footerHeight - 50px);
$radius:80px;
$biggerPgPadding:10px;
$navAppearDelay:0.3;
:root{
    --sec-1-height:100vh;
}

