// Variables
@import "variables";

// Bootstrap
@import "bootstrap/scss/bootstrap";

@import "parts/nav";
@import "parts/loader";
@import "front/firstPage/section-1";
@import "front/firstPage/section-2";
@import "front/firstPage/section-3-and-4";
@import "parts/footer";
@import "parts/login";
@import "front/artickes";
@import "front/services";
@import "front/contacts";
@import "front/registration";

.d--none {
    display: none !important;
}
body,
body * {
    margin: 0;
    box-sizing: border-box;
}
body {
    width: 100%;
    background-color: $bg;
}
body::-webkit-scrollbar {
    width: 10px;
    margin-right: 10px;
}
body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
    background-color: $lightGrey;
    box-shadow: inset 2px 2px 6px $grey;
    -webkit-border-radius: 0.375rem;
}

main {
    min-height: $mainMinHeight;
    padding-top: 130px;
    display: grid;
    align-items: center;
}
body:has(.contacts-page) {
    main {
        min-height: calc(100vh - $footerHeight - 2 * $biggerPgPadding);
        padding-top: calc(130px - $biggerPgPadding);
    }
}
body:has(#hero) {
    main {
        padding-top: 0px;
    }
}
.message {
    padding: 4px;
    background-color: $hotPink;
    border-radius: 6px 0 12px 0px;
    color: $bg;
    display: none;
    &.top-message {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        z-index: 2;
    }
}

h2 {
    font-size: 60px;
    font-family: $headings-family;
}
div,
p {
    font-family: $nav-family;
    font-size: 16px;
    @media (max-width: 750px) {
        font-size: 14px;
    }
}
.swiper-button-prev,
.swiper-button-next {
    position: absolute;
}
.chevron {
    width: 16px;
    height: 16px;
    padding: 13px;
    box-sizing: content-box;
    transition: all 0.25s ease-in;
    &.chevron-up {
        transform: rotate(180deg);
    }
    &.chevron-left {
        transform: rotate(90deg);
    }
    &.chevron-right {
        transform: rotate(270deg);
    }
    svg {
        fill: $electric;
    }
}
.media {
    .round.button.pink svg {
        fill: $grey;
    }
}
.asterisk {
    color: $hotPink;
    font-size: 14px;
}

.button {
    box-sizing: content-box;

    transition: all 0.25s ease-in;
    box-sizing: border-box;
    &.round {
        width: 45px;
        height: 45px;
        border-radius: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        &.lardge {
            width: 60px;
            height: 60px;
        }
        &.small {
            width: 35px;
            height: 35px;
        }
    }
    &.long {
        border: none;
        width: fit-content;
        height: 35px;
        padding: 0px 20px;
        border-radius: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &.--disabled,
    &.swiper-button-lock,
    &.swiper-button-disabled {
        svg {
            fill: transparent;
        }
        opacity: 0.5;
    }
    &.pink {
        &:not(
                .--disabled,
                .swiper-button-lock,
                .swiper-button-disabled,
                .--active
            ) {
            cursor: pointer;
            background: linear-gradient(
                315deg,
                rgba(232, 227, 215, 1) 0%,
                #e9c1c8 100%
            );
            &.bg-electric {
                box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
                    -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset,
                    10px 10px 20px #0f1111d6,
                    -5px -5px 15px rgba(252, 252, 252, 0.254);
            }
            &.bg-light-electric {
                box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
                    -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset,
                    10px 10px 20px #41504aff,
                    -5px -5px 15px rgba(252, 252, 252, 0.254);
            }

            &.bg-light-sand {
                box-shadow: 12px 12px 16px 0 rgba(255, 255, 255, 0.3) inset,
                    -8px -8px 12px 0 rgba(0, 0, 0, 0.25) inset,
                    2px 2px 8px #c9c2b3a0, -2px -2px 8px #fef8ea;
            }
        }
        &:hover,
        &.--disabled,
        &.swiper-button-lock,
        &.swiper-button-disabled {
            &.bg-electric {
                box-shadow: inset 12px 12px 16px 0 rgba(0, 0, 0, 0.049),
                    inset -12px -12px 12px 0 rgba(255, 255, 255, 0.3),
                    10px 10px 20px #0f1111,
                    -5px -5px 15px rgba(252, 252, 252, 0.254);
            }
            &.bg-light-electric {
                box-shadow: inset 12px 12px 16px 0 rgba(0, 0, 0, 0.15),
                    inset -8px -8px 12px 0 rgba(255, 255, 255, 0.3),
                    10px 10px 20px #0f1111cd,
                    -5px -5px 15px rgba(252, 252, 252, 0.254);
            }
            &.bg-light-sand {
                box-shadow: inset 12px 12px 16px 0 rgba(0, 0, 0, 0.15),
                    inset -8px -8px 12px 0 rgba(255, 255, 255, 0.3),
                    2px 2px 8px rgb(201 194 179 / 94%),
                    -4px -4px 8px rgb(255 255 255 / 69%);
            }
        }
        &.--active {
            background: linear-gradient(
                315deg,
                rgba(232, 227, 215, 1) 0%,
                #e9c1c8 100%
            );
            &.bg-light-sand {
                box-shadow: inset 12px 12px 16px 0 rgba(0, 0, 0, 0.15),
                    inset -8px -8px 12px 0 rgba(255, 255, 255, 0.3),
                    2px 2px 8px rgb(201 194 179 / 94%),
                    -4px -4px 8px rgb(255 255 255 / 59%);
            }
        }
    }
    &.electric {
        &:not(.swiper-button-lock, .swiper-button-disabled, .--disabled) {
            cursor: pointer;
            background: linear-gradient(315deg, #46756a 0%, $electric 100%);
            color: $bg;
            svg {
                fill: $bg;
            }
            &.bg-grey {
                box-shadow: 12px 12px 16px 0 rgba(106, 157, 147, 0.826) inset,
                    -8px -8px 12px 0 rgba(0, 0, 0, 0.4) inset,
                    10px 10px 20px #82817f,
                    -10px -10px 20px rgba(252, 252, 252, 0.454);
            }
            &.bg-sand {
                box-shadow: 12px 12px 16px 0 rgba(106, 157, 147, 0.826) inset,
                    -8px -8px 12px 0 rgba(0, 0, 0, 0.5) inset,
                    10px 10px 20px #b3ab97, -10px -10px 20px #f7f7f78b;
            }
            &.bg-light-sand {
                box-shadow: 12px 12px 16px 0 rgba(106, 157, 147, 0.826) inset,
                    -8px -8px 12px 0 rgba(0, 0, 0, 0.5) inset,
                    10px 10px 20px #c9c2b3a0, -10px -10px 20px #fef8ea;
            }
            &.bg-sand-blur {
                box-shadow: 12px 12px 16px 0 rgba(106, 157, 147, 0.826) inset,
                    -8px -8px 12px 0 rgba(0, 0, 0, 0.5) inset,
                    22px 22px 35px #d8d3c6e6, -22px -22px 35px #f6f3eae2;
            }
        }
        &:hover,
        &.swiper-button-lock,
        &.swiper-button-disabled,
        &.--disabled {
            &.bg-grey {
                box-shadow: 12px 12px 50px 0 rgba(0, 0, 0, 0.025) inset,
                    -8px -8px 12px 0 rgba(106, 157, 147, 0.826) inset,
                    10px 10px 20px #7a7978,
                    -10px -10px 20px rgba(252, 252, 252, 0.454);
            }
            &.bg-sand {
                box-shadow: 12px 12px 50px 0 rgba(0, 0, 0, 0.1) inset,
                    -8px -8px 12px 0 rgba(106, 157, 147, 0.826) inset,
                    10px 10px 20px #b2a993, -10px -10px 20px #f7f7f78b;
            }
            &.bg-light-sand {
                box-shadow: 12px 12px 50px 0 hsla(43, 19%, 56%, 0.15) inset,
                    -12px -12px 12px 0 rgba(255, 250, 237, 0.07) inset,
                    10px 10px 20px #c9c2b3d5, -10px -10px 20px #ffffff89;
            }
            &.bg-sand-blur {
                box-shadow: 12px 12px 50px 0 hsla(43, 19%, 56%, 0.15) inset,
                    -12px -12px 12px 0 rgba(255, 250, 237, 0.07) inset,
                    22px 22px 35px #d8d3c6f6, -22px -22px 35px #f6f3eaf4;
            }
        }
    }
}
body:has(.article-page, .articles-list, .article-create, .article-edit) {
    .button.round.electric.bg-grey,
    .button.round.electric.bg-sand {
        box-shadow: 12px 12px 16px 0 rgba(106, 157, 147, 0.826) inset,
            -8px -8px 12px 0 rgb(0 0 0 / 41%) inset, 10px 10px 20px #35353373,
            -10px -10px 20px rgb(252 252 252 / 20%);
        &:hover {
            box-shadow: 12px 12px 50px 0 rgba(0, 0, 0, 0.025) inset,
                -8px -8px 12px 0 rgba(106, 157, 147, 0.826) inset,
                10px 10px 20px #35353391,
                -10px -10px 20px rgb(252 252 252 / 20%);
        }
    }
}

.tags-nav,
.tags-list {
    width: 290px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    li {
        height: 30px;
        opacity: 0;
        @for $i from 1 through 20 {
            &:nth-child(#{$i}) {
                animation: animate-pop
                    0.6s
                    #{0.3 +
                    $i *
                    0.1}s
                    cubic-bezier(0.26, 0.53, 0.74, 0.48)
                    forwards;
            }
        }
    }
    a {
        height: 25px;
        text-decoration: none;
        font-size: 19px;
        color: $bg;
        &.active {
            font-weight: 600;
            color: $pink;
        }
    }
}

.tags-nav {
    padding: 20px 20px 20px 30%;
}
.tags-list {
    padding: 0;
}
.paginator-box {
    display: flex;
    gap: 20px;
    justify-content: center;
    a {
        font-size: 17px;
        width: 20px;
        height: 20px;
        color: $pink;
        font-weight: 500;
        text-decoration: none;
        transition: all 0.3s linear;
        &:hover,
        &.active {
            font-weight: 700;
        }
    }
}
@keyframes animate-pop {
    0% {
        opacity: 0;
        transform: scale(0.95, 0.95);
    }

    100% {
        opacity: 1;
        transform: scale(1, 1);
    }
}
@media (max-width: 1300px) {
    body:has(.services-list, .articles-list) {
        main {
            min-height: calc(100vh - 140px);
            padding-right: 250px;
            padding-left:30px;
            display: grid;
            align-items: center;
            padding-top: 50px;
        }
    }
    body:has(.article-page){
        .article--page {
        .article-box{
            width:96%;
        }
        .back-btn{
            left:90%;
        }

    }
    }
}
