// // Variables
// @import 'variables';

// // Bootstrap
// @import 'bootstrap/scss/bootstrap';

// @import 'parts/nav';
// @import 'parts/loader';
@import './app';

@import 'back/firstPage/section-1';
@import 'back/firstPage/section-2';
@import 'back/firstPage/section-3-and-4';
@import 'parts/footer';
// @import 'parts/login';
@import 'parts/modal';

.message {
    padding: 4px;
    background-color: $hotPink;
    border-radius: 6px 0 12px 0px;
    color: $bg;
    display: none;
    &.top-message{
        position:fixed;
        left:0;
        top:0;
        right:0;
        z-index:2;
    }
}
.edit-svg-box{
    width: fit-content;
    border: 2px solid #222;
    padding: 5px;
    border-radius: 50%;
    background-color: $pink;
    z-index:3;
    cursor: pointer;
    &:hover{
        background-color: #d9adb4
    }
    svg{
        fill:#222;
        width:30px;
        height:30px;
        transform: rotate(-30deg);
    }
}
.update-actions, .delete-actions{
    flex-direction: column;
    justify-content: center;
    align-items: end;
}
.store-actions{
    position: absolute;
    right: 20px;
    bottom:30px;
}
.update-actions, .delete-actions, .store-actions{
    gap:20px;
    button{
        border:2px solid $black;
        padding: 8px 20px;
        height: fit-content;
    }
    .update-btn{
        background-color: $electric;
        color:$bg;
    }
    .cancel-btn{
        background: #CCC;
    }
}


