.back-office{
    // position:relative;
    .section-1 .box .citations-box{
        position:relative;
        .edit-svg-box{
            position:absolute;
            z-index: 2;
            top:20px;
            right:20px;
        }
    }
}