.back-office {
    .tags-nav-box {
        position: relative;
        .edit-svg-box {
            top: 0px;
            right: 40px;
        }
    }
    .one-tagsNav {
        display: grid;
        grid-template-columns: 200px calc(100% - 440px) 120px 120px;
    }
    .modal {
        .articles, .add-articles-box {

            ul{
                padding:0;
            }
            li,
            .add-article {
                display: flex;
                gap: 20px;
                align-items: center;
                padding: 0 5px;
                select{
                    max-width: 80%;
                }
            }

        }
    }
    .articles-box {
        .add-back-btns {
            padding-bottom: 50px;
            justify-content: end;
            width: 90%;
        }
    }
    .article-page {
        .title-box {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        .delete-form{
            height:fit-content;
        }
    }
    .article-create, .article-edit {
        display: flex;
        justify-content: center;
        .form-box {
            width: min(1000px, 100vw - 230px);
            color: #161616;
            background-color: #e8e3d7;
            box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3) inset,
                -4px -4px 6px 0 rgba(0, 0, 0, 0.25) inset;
            padding: 50px 70px 70px 70px;
            border-radius: 20px;
            .form .data{
                display:flex;
                flex-direction: column;
                gap:10px;
                .link-box, .imgs-box{
                    display:flex;
                    flex-direction: column;
                    gap:10px;
                }
                .youtube-box, .title-box, .link-box .title, .link-box .link{
                    display:flex;
                    gap:10px;
                }
                .article-text{
                    height:300px;
                }
                input[type="number"]{
                    width:80px;
                }
                textarea{
                    overflow: auto;
                }
                .extra-data-textarea{  
                    resize: vertical;
                    max-height:300px;
                }
                textarea, input{
                    padding:2px 8px;
                    width:100%;
                    background-color:$bg;
                    border:1px solid $black;
                }
                .img-input-delete{
                    display:grid;
                    grid-template-columns: 60px auto;
                }
            }
        }
        .update-actions, .store-actions{
            display:flex;
            flex-direction: row;
            justify-content: end;
        }
    }
    .articles-list{
        .article-delete-box.one-item{
            display:grid;
            width:calc(100% - min(100px, 5%));
            grid-template-columns:1fr 120px;
            gap:10px;
            align-items: center;
            .article-box{
                width:100%;
            }
        }
    }
}
