body:has(.contacts-page) {
    &.back-office {
        .contacts-page  {
            .edit-svg-box {
                top: 115px;
                right: 100px;
            }
        }
        .modal .one-contact {
            .update-actions{
                flex-direction: row;
                width: 400px;
                justify-self: flex-end;
                align-self: end;
            }
        }
    }
}

