body {
    footer {
        margin-top: $footerMargin;
        position: relative;
        height: $footerHeight;
        background: transparent;
        box-sizing: border-box;
        color: $black;
        h5 {
            background: $northenGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 34px;
            font-weight: 600;
            letter-spacing: 2px;
        }
        a {
            text-decoration: none;
            color: $black;
            display: inline-block;
        }
        .mail {
            transition: all 0.2s linear;
        }
        .media {
            display: flex;
            gap: 20px;
            padding-top: 10px;
            svg {
                width: 20px;
                height: 20px;
                fill: $greyTransp;
            }
        }
        .content-container {
            position: absolute;
            left: 0;
            bottom: 0;
            height: $footerHeight;
            width: $footerWidth;
            overflow: hidden;
            .content-box {
                position: absolute;
                left: -50px;
                bottom: -50px;
                height: 100%;
                display: flex;
                align-items: end;
                width: 100%;
                background: $lightGrey;
                border-top-right-radius: 100%;
                animation: footer-appear 0.3s calc($navAppearDelay * 1s) ease
                    forwards;
                .content {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    width: 70%;
                    height: 70%;
                    justify-items: center;
                    align-items: center;
                    > div {
                        display: flex;
                        flex-direction: column;
                        gap: 2px;
                        padding: 20px;
                    }
                    .right {
                        ul {
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            gap: 4px;
                            li {
                                height: 25px;
                                a {
                                    display: inline-block;
                                }
                            }
                        }
                    }
                }
            }
        }

        .up {
            position: absolute;
            right: min(50px, calc((100vw - $footerWidth - 55px) / 2));
            bottom: 50px;
        }
    }
}

body:has(.services-list, .contacts-page) {
    main {
        min-height: calc(100vh - $footerHeight - 2 * $biggerPgPadding);
    }
    footer {
        .content-container {
            bottom: -$biggerPgPadding;
            left: -$biggerPgPadding;
        }
    }
}
@keyframes footer-appear {
    0% {
        bottom: -50px;
        left: -50px;
    }
    100% {
        bottom: 0;
        left: 0;
    }
}
