body {
    footer {
        margin-top: $footerMargin;
        position: relative;
        height: $footerHeight;
        background: transparent;
        box-sizing: border-box;
        color: $black;
        h5 {
            background: $northenGradient;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 34px;
            font-weight: 600;
            letter-spacing: 2px;
        }
        a {
            text-decoration: none;
            color: $black;
            display:inline-block;
        }
        .mail{
            transition:all 0.2s linear;
        }
        .media {
            display: flex;
            gap: 20px;
            padding-top: 10px;
            svg {
                width: 20px;
                height: 20px;
                fill: $greyTransp;
            }
        }
        .content-box {
            position:absolute;
            left:0;
            bottom:0;
            height: $footerHeight;
            display: flex;
            align-items: end;
            width: $footerWidth;
            // background: $lightGrey;
            background: $lightGrey;
            border-top-right-radius: 100%;
            // box-shadow: inset 0px 0px 57px 40px rgba(110, 113, 123, 0.8941176471);
            .content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                width: 70%;
                height: 70%;
                justify-items: center;
                align-items: center;
                > div {
                    display: flex;
                    flex-direction: column;
                    gap: 2px;
                    padding: 20px;
                }
                .right {
                    ul {
                        list-style: none;
                        li {
                            height: 25px;
                            a{
                                display: inline-block;
                            }
                        }
                    }
                }
            }
        }
        .up {
            position: absolute;
            right: min(50px, calc((100vw - $footerWidth - 55px) / 2));
            bottom: 50px;
        }
    }
}
