.modal-box {
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #595c5900;
    display: none;
    justify-content: center;
    align-items: center;
    &:has(.show) {
        display: flex;
    }
    .modal {
        padding: 50px 40px;
        padding-bottom:50px;
        border-radius: 2px;
        max-height: 80vh;
        height: fit-content;
        margin-left: max(calc(50% - 500px), 2vw);
        margin-top: 10vh;
        background-color: $bg;
        width: min(1000px, 96vw);
        flex-direction: column;
        backdrop-filter: blur(20px);
        display: flex;
        opacity: 0.5;
        .modal-items-box ul {
            list-style: none;
        }
        .modal-add-box {
            display: none;
            > .names {
                letter-spacing: 0.3vw;
            }
            .form {
                height: fit-content;
                div[contenteditable="true"] {
                    width: 100%;
                    height: 100%;
                }

            }
        }
        .modal-items-box .one-item,
        .modal-add-box .names,
        .modal-add-box .form {
            width: 100%;
            padding: 7px 0;
            display: grid;
            align-items: center;
            justify-content: center;
            .data{
                display:grid
            }
            &.one-work,
            &.one-education {
                grid-template-columns: 1fr 120px;
                .data{
                    grid-template-columns: 150px 1fr 80px
                }
            }
            &.one-tagsNav {
                grid-template-columns: 1fr 120px;
                .data{
                    grid-template-columns: 200px 1fr 120px;
                }
            }
            &.one-citation {
                grid-template-columns: 1fr 120px;
                .data{
                    grid-template-columns: 1fr 200px;

                }
            }
            &.one-service {
                grid-template-columns: 1fr 120px;
                .data{
                    grid-template-columns: 200px 1fr 80px;
                }
            }
            &.one-contact {
                grid-template-columns: 1fr;
                padding:0 20px;
                .data {
                    grid-template-columns: repeat(2, 1fr);
                    .var {
                        border: 1px solid $black;
                        padding: 10px 15px;
                        &.link{
                            grid-column: span 2;
                        }
                        &.image {
                            grid-column: span 2;
                        }
                        &:nth-child(n + 3) {
                            border-top: none;
                        }
                        &:not(.link, .image):nth-child(2n) {
                            border-left: none;
                        }

                    }
                }
            }
            // .img-box {
            //     width: min(500px, 60vw);
            //     overflow: hidden;
            //     position: relative;
            //     background-color: #3333336d;
            //     img {
            //         height: 100%;
            //         width: 500px;
            //         object-fit: cover;
            //     }
            //     .line {
            //         width: 100%;
            //         height: 2px;
            //         background-color: #e26a7e;
            //         position: absolute;
            //         top: calc(50% - 1px);
            //         left: 0;
            //         display: none;
            //     }
            // }
            div:not(.img-box, .add-article, .svg-box, .input-box) {
                height: 100%;
            }

            .var.small {
                font-style: italic;
                color: #999;
            }


        }
    }
}
// next back styles
.modal-box .modal.--add{
    padding-bottom:100px;
    .modal-add-box{
        display:grid;
    }
    .modal-items-box{
        display:none;
    }
    .add-btn{
        display:none;
    }
    .back-btn{
        display:block;
    }
}
// services

// .modal-add-box .form, modal-add-box .names, .modal-items-box li{
// .add-service-type-box {
//     .added-types {
//         list-style: none;
//         padding: 0;
//     }
//     .add-service-type {
//         display: flex;
//         gap: 20px;
//         align-items: center;
//         padding: 0 5px;
//         ul {
//             padding: 0;
//         }
//         input {
//             padding: 4px;
//             width: 80%;
//         }
//     }
// }
// }
// .modal-items-box li {

// }

@keyframes open-modal {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}
@keyframes open-modal-box {
    0% {
        background-color: #595c5900;
    }
    100% {
        background-color: #595c5962;
    }
}
@keyframes close-modal {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
@keyframes close-modal-box {
    0% {
        background-color: #595c5962;
    }
    100% {
        background-color: #595c5900;
    }
}
