.section-1-box{
    height:100vh;
}
.section-1{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100vh;
    z-index:0;
    background-color: #101e17;
    .ul-box{
        position:absolute;
        z-index:1;
        top:0;
        width:100%;
        height:100vh;
        .profile-pic-ul{
            padding:0;
            list-style: none;
            position:absolute;
            top:0;
            width:100%;
            height:100%;
            .one-profile-pic{
                width:100%;
                height:100%;
                position:absolute;
                z-index: 0;
                top:0;
                img{

                    width:100%;
                    height:100vh;
                    object-fit: cover;
                    object-position: 0% 0%;
                 }  
            }
        }

    }
}