.section-3,
.section-4 {
    padding: 80px min(100px, 2vw) 40px;
    display: flex;
    justify-content: center;
    opacity: 0.5;
    .work-box {
        background-size: 100% 100%;
        background-position: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px;
        background-image: $northenGradient;
        position: relative;
        color: $bg;
    }
    .education-box {
        background-color: #f0eadd;
    }
    .education-box,
    .work-box {
        border-radius: 20px;
        box-sizing: border-box;
        width: min(900px, 100%);
        padding: 60px 100px 60px 60px;
        position: relative;
        .heading-box {
            margin-bottom: 30px;
        }
        .education-swiper-box,
        .work-swiper-box {
            position: relative;
            .swiper {
                height: 350px;
                overflow: hidden;
                .swiper-wrapper {
                    list-style: none;
                    padding: 0;
                    li {
                        display: grid;
                        grid-template-columns: 150px 1fr;
                        padding: 2.5px 20px;
                        line-height: 1.15em;
                        @media (max-width: 500px) {
     
                        }
                        @media (max-width: 400px) {
                            height: 100px;
                        }
                        .date {
                            font-style: italic;
                            padding-right: 5px;
                            @media (max-width: 500px) {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .swiper-button-prev {
                top: -20px;
                right: -50px;
            }
            .swiper-button-next {
                bottom: -20px;
                right: -50px;
            }
        }
    }
}
.section-4 {
    padding-bottom: 80px;
}
.back-office {
    .edit-svg-box {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}
@media (max-width: 900px) {
    .section-3,
    .section-4 {
        .education-box,
        .work-box {
            padding: 40px 60px 40px 3vw;
            .education-swiper-box,
            .work-swiper-box {
                .swiper {
                    height: 270px;
                }
            }
        }
    }
}
@media (max-width: 650px) {
    .section-3,
    .section-4 {
        .education-box,
        .work-box {
            padding: 40px 3vw 60px 15px;
            .heading-box {
                display: flex;
                justify-content: center;
            }
            .education-swiper-box {
                .swiper-button-prev {
                    right: 0;
                    top: -125px;
                }
                .swiper-button-next {
                    right: 0;
                    bottom: -80px;
                }
                .swiper-button-disabled, .--disabled {
                    background-color: #f0eadd;
                    opacity: 1;
                    box-shadow: 12px 12px 50px 0 hsla(43, 19%, 56%, 0.15) inset,
                        -12px -12px 12px 0 rgba(255, 250, 237, 0.07) inset,
                        10px 10px 20px rgb(201 194 179 / 67%),
                        -10px -10px 20px rgb(255 255 255 / 19%);
                }
            }
            .work-swiper-box {
                .swiper-button-prev {
                    right: 0;
                    top: -125px;
                }
                .swiper-button-next {
                    right: 0;
                    bottom: -80px;
                }
                .swiper-button-disabled, .--disabled {
                    background-color: $electric;
                    opacity: 1;
                    box-shadow: inset 12px 12px 16px 0 rgba(0, 0, 0, 0.049),
                        inset -12px -12px 12px 0 rgb(255 255 255 / 16%),
                        10px 10px 20px #0f1111b3,
                        -5px -5px 15px rgb(252 252 252 / 28%);
                }
            }
        }
    }
}
@media (max-width: 600px) {
    .section-3,
    .section-4 {
        .education-box,
        .work-box {
            border-radius: 0;
        }
    }
}
@media (max-width: 540px) {
    .section-3,
    .section-4 {
        padding-left: 0;
        padding-right: 0;
        .education-box,
        .work-box {
            .education-swiper-box,
            .work-swiper-box {
                .swiper {
                    height: 255px;

                .swiper-wrapper li {
                    grid-template-columns: 100px 1fr;
                    gap:10px;
                    padding: 0;
                }
            }
            }
        }
    }
}
@media (max-width: 380px) {
    .section-3,
    .section-4 {
        .education-box,
        .work-box {
            .education-swiper-box,
            .work-swiper-box {
                .swiper  {
                    height: 240px;

                    .swiper-wrapper li {
                    grid-template-columns: 65px 1fr;
                    gap:5px;
                    font-size: 12px;
                }
            }
            }
        }
    }
}
