.section-3,
.section-4 {
    padding: 80px min(100px, 2vw) 40px;
    display: flex;
    justify-content: center;
    opacity: 0.5;
    @media (max-width: 600px) {
        padding: 80px 0 40px;
    }
    .work-box {
        background-size: 100% 100%;
        background-position: 0px 0px,0px 0px,0px 0px,0px 0px,0px 0px;
        background-image: $northenGradient;
        position:relative;
        color:$bg;
    }
    .education-box {
        background-color: hsla(0, 0%, 100%, 0.945);
    }
    .education-box,
    .work-box {
        border-radius: 20px;
        box-sizing: border-box;
        width: min(900px, 100vw);
        padding: 60px 100px 60px 60px;
        position: relative;
        @media (max-width: 900px) {
            padding: 40px 60px 40px 3vw;
        }
        @media (max-width: 650px) {
            padding: 40px 3vw 40px 15px;
        }
        .heading-box {
            margin-bottom: 30px;
            @media (max-width: 650px) {
                display: flex;
                justify-content: center;
            }
        }
        .education-swiper-box,
        .work-swiper-box {
            position: relative;
            .swiper {
                height: 300px;
                overflow: hidden;
                .swiper-wrapper {
                    list-style: none;
                    padding: 0;
                    li {
                        height: 60px;
                        display: grid;
                        grid-template-columns: 150px 1fr;
                        padding: 2.5px 20px;
                        line-height: 1.15em;
                        @media (max-width: 500px) {
                            grid-template-columns: 70px 1fr;
                            height: 75px;
                            padding: 0;
                        }
                        @media (max-width: 400px) {
                            height: 100px;
                        }
                        .date {
                            font-style: italic;
                            padding-right: 5px;
                            @media (max-width: 500px) {
                                font-size: 12px;
                            }
                        }
                    }
                }
            }
            .swiper-button-prev, .swiper-button-next {
                    &:has(.chevron-up) {
                        top: -20px;
                        right: -50px;
                        @media (max-width: 650px) {
                            right: 0;
                            top: -125px;
                        }
                    }
                    &:has(.chevron-down) {
                        bottom: -20px;
                        right: -50px;
                        @media (max-width: 650px) {
                            right: 0;
                            bottom: -60px;
                        }
                    }
            }
        }
    }
}
.section-4 {
    padding-bottom: 80px;
}
.back-ofice {
    .edit-svg-box {
        position: absolute;
        right: 20px;
        top: 20px;
    }
}
