body:has(.contacts-page) {
    background-color: $electric;
    padding: $biggerPgPadding;
    &:before {
        content: "";
        background-image: url("../../../public/images/bg3.webp");
        // background-image: url('../../images/bg3.webp');
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;
        z-index: -1;
        background-size: cover;
        top: 0;
        left: 0;
        filter: blur(8px);
    }
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        background-color: #17453f87;
    }
    .in-body {
        background: $bg;
        border-radius: $radius;
        height: 100%;
        main{
            position:relative;
        }
    }
    .contacts-page {
        display: flex;
        justify-content: center;
        .in-section {
            width: min(1200px, 90%);

            .contacts-box {
                width: 50%;
                padding-top: 200px;
                display:flex;
                flex-direction: column;
                gap:10px;
                .contacts-item{
                    display:flex;
                    gap:5px;
                    div, a{
                        font-size: 22px;
                        color:$black;
                    }
                    .heading{
                        font-weight: 600;
                        color:$electric;
                    }
                }
            }
            .map-box {
                position:absolute;
                top:200px;
                left:55%;
                opacity:0;
                animation:animate-pop 0.2s 0.3s cubic-bezier(.26,.53,.74,0.48) forwards;
                img {
                    width: 100%;
                    min-width: 300px;
                    max-width: 500px;
                    object-fit: cover;
                    border-radius: 20px;
                }
            }
        }
    }
    footer{
        margin-top:0;
    }
}
