body:has(.services-list) {
    position: relative;
    &:before {
        content: "";
        // background-image: url("../../../public/images/bg3.webp");
        background-image: url("../../images/bg3.webp");
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;
        z-index: -1;
        background-size: cover;
        top: 0;
        left: 0;
        filter: blur(8px);
    }
    &:after {
        content: "";
        width: 100%;
        height: 100%;
        display: inline-block;
        position: absolute;
        z-index: -1;
        top: 0;
        left: 0;
        background-color: $bgLittleTransp;
    }

    .in-body {
        border-radius: $radius;
        height: 100%;
    }

    .services-list {
        padding: 0 20px 0 0;
        .ul-box {
            display: flex;
            justify-content: center;
        }
        .services-box {
            width: min(1200px, 100%);
            display: flex;
            flex-wrap: wrap;
            gap: 40px;
            align-items: center;
            justify-content: space-around;
            list-style: none;
            padding: 0;

            .one-service {
                width: max(550px, calc(50% - 40px));
                height: fit-content;
                padding: 30px 50px 30px 65px;
                position: relative;
                border-radius: 80px;
                z-index: 0;
                top: 0;
                left: 0;
                z-index: 1;
                background-color: $bg;
                opacity: 0;
                @for $i from 1 through 10 {
                    &:nth-child(#{$i}) {
                        animation: animate-pop
                            0.2s
                            #{(0.3 + $i * 0.2) +
                            0.2}s
                            cubic-bezier(0.26, 0.53, 0.74, 0.48)
                            forwards;
                    }
                }
                h3 {
                    color: $electric;
                    text-align: start;
                }
                ul {
                    padding-top: 10px;
                    list-style: none;
                    padding-left: 20px;
                    li {
                        position: relative;
                        &::before {
                            content: "";
                            display: inline-block;
                            position: absolute;
                            left: -20px;
                            top: 50%;
                            transform: translateY(-50%);
                            width: 12px;
                            height: 12px;
                            border-radius: 50%;
                            background-color: $bg;
                            border: 1px solid $electric;
                        }
                    }
                }
            }
        }
    }
}
@media (max-width: 700px) {
    body:has(.services-list)
        .in-body
        .services-list
        .ul-box
        .services-box
        .one-service {
        width: min(550px, 100%);
    }
}

@media (max-width: 600px) {
    body:has(.services-list) {
        .in-body .services-list {
            padding: 0 0 0 0;
            .ul-box .services-box {
                padding: 0 5% 5%;
                gap: 25px;
                .one-service {
                    padding: 20px 30px 20px 40px;
                }
            }
        }
    }
}
@media (max-width: 500px) {
    body:has(.services-list) {
        .in-body .services-list {
            padding: 0 0 0 0;
            .ul-box .services-box {
                padding: 0 2% 2%;
                gap: 25px;
                .one-service {
                    border-radius: 0 40px 40px;
                    padding: 20px;
                }
            }
        }
    }
}
